* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; width: 100%; height: 100%;}
.connecting {
    font-size: 24px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    color:white;
    z-index: 99999;
    font-weight: bold;
}

.row { margin-left:0; margin-right:0; }
form.msg { background: #000; padding: 3px; position: fixed; bottom: 0; left: 0; width: 100%; }
form.msg div { padding-left: 1px; padding-right: 1px; }
form.msg input, form.msg textarea { border: 0; padding: 4px; width: 100%; height: 36px; font-size: 12px; }
form.msg .btn { padding: 3px; height:36px !important; width:100%; overflow:hidden; }
form.msg .glyphicon { margin-left: -2px; }
form.msg .glyphicon img { width: 20px; margin-top: -4px; }
#imgup { padding: 3px; height:36px !important; width:100%; overflow:hidden; }
#imgupFile {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
}

#messages { list-style-type: none; margin: 0; padding: 0; margin-bottom: 50px; padding-left: 135px;}
#messages li { padding: 5px 10px; clear:both; line-height: 18px; border-left: 5px solid #d4d4d4; }
#messages li:nth-child(odd) { background: #f4f4f4; border-left: 5px solid #d4d4d4; }
#messages li.sysmsg { font-style: italic; border-left: 5px solid #0a7; background: white;}
#messages .messagetext { word-wrap: break-word; hyphens: auto; }
#messages li img.smiley { width: 18px; }
#messages li img.smiley.large {
    width: 64px;
}

#messages li a.joinroom, #messages li a.signup {
    display: block;
    float: left;
    background: #0a7;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 2px 10px;
    margin-right: 5px;
    cursor:pointer;
}
#messages li span.prefix {
    display:block;
    float:left;
    margin-right: 10px;
}
#messages li a.onlineuser {
    display: block;
    float: left;
    background: #07a;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 2px 10px;
    margin-right: 5px;
    cursor:pointer;
}
#messages li a.onlineuser.offline {
    background: #777;
    font-weight: normal;
}
#messages li .userprofilelink { cursor: pointer; }
#messages li a.autolink {}
#messages li img.autolink, #messages li video.autolink, #messages li iframe.autolink { width: 100%; max-width: 512px; }
#messages li video.autolink, #messages li iframe.autolink { padding: 3px; border: 3px solid #0a5; }
/* small images override class, needs to be below any other messages img */
#messages li .messagetext img, #messages li .messagetext video, #messages li .messagetext iframe { cursor: zoom-out; }
#messages li .messagetext img.smallimage { max-width: 128px; max-height: 128px; cursor: zoom-in; }
#messages li .messagetext video.smallimage { max-width: 128px; max-height: 128px; cursor: zoom-in; }
#messages li .messagetext iframe.smallimage { max-width: 128px; max-height: 128px; cursor: zoom-in; }

    div.useravatar { float:left; }
    div.messagecontainer { padding-left: 42px; }
    a.nick { font-weight: bold; color:#085; }
    span.time {
        display: inline-block;
        border-radius: 50px;
        background-color: #888;
        padding: 0px 5px;
        color:#eee;
        font-size: 10px;
        float: right;
        margin-top: 3px;
        line-height: normal;
    }

#updateprofilebody iframe {
    width: 100%;
    overflow-y: scroll;
    height: 400px;
    border: none;
}

#iconselect .modal-body { text-align: center; }
#iconselect .modal-body img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    cursor: pointer;
}

#sidebar {
    background:#444;
    color:#eee;
    height: 100%;
    width: 150px;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
#sidebar li { padding: 8px 8px; font-size: 14px; border-bottom: 1px solid #666; cursor:pointer; }
#sidebar li:nth-child(odd) { background: #333; }
#sidebar li.active { background: #0a6; }
#sidebar li span {
    float: right;
    display: block;
    margin-top: -19px;
    background-color: #777;
    border-radius: 50px;
    padding: 0px 5px;
    font-size: 12px;
    font-weight: bold;
}
#sidebar li div { display: block; margin-top: 3px; }
#sidebar .menuitems {
    background-color: #222 !important;
    height: 68px;
    padding: 0;
    padding-top: 12px;
    padding-left: 9px;
}
    #sidebar .menuitems div { width: 47px; float:left; height: 26px; } /*26px*/
    #sidebar .menuitems button { border:none; background: transparent; }
    #sidebar .menuitems span {
        float:none;
        display: block;
        background-color: transparent;
        border-radius: 5px;
        padding: 0px 5px;
        font-size: 21px;
        font-weight: normal;
    }

img.avatar { width: 32px; height: 32px; }
span.avatar {
    width: 32px;
    height: 32px;
    font-size: 32px;
}
#preview { display:none; }

@media (max-width: 480px) {
    #messages { padding-left: 55px; }
    #sidebar { width: 70px; }
    #sidebar .menuitems { height: auto; padding-left: 5px; }
    #sidebar .menuitems div { width: 24px; padding-bottom: 8px; height: auto; }
}

.hidden { display: none; }
.clearfloat { clear: both; float: none !important;}
